
.vid {
   width:100%;
   height: auto;
   background-color: #fff;
   padding-bottom: 30px;
}

.vid-border {
   border: 0;
}

.intro {
   float: left;
   padding-top: 15px;
   padding-bottom: 15px;
   font-weight: 400;
   font-size: 200%;
}

.intro-last {
   float: right;
}