

.header-text {
   font-size: 250%;
}
.services {
   width:100%;
   height: auto;
   background-color: #f7f7f7;
   padding-bottom: 50px;
}

.service-icon {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: #024db3;
   padding: 8px 8px;
   margin-left: 43%;
}

.service-icon img {
   width: 35px;
   height: 35px;
}

.service-icon li {
   list-style: none;
   color: #024db3;
}

.list {
   padding-left: 15%;
}

.list li {
   list-style: none;
   line-height: 250%;
   font-size: 105%;
}
