* {
    font-family:  'Raleway', sans-serif;
}

h3 {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400; 
    font-size: 25px;
}

h4 {
    text-align: center;
}

/* My classes */

.center-blue {
    text-align: center;
    color: #024db3; 
}

.row {
   margin-left: 0;
   margin-right: 0;
}

.clearfix {
   clear: both;
}

.header-h1 {
   font-family:  'Raleway', sans-serif;
   text-align: center;
    padding-top: 5px;
   padding-bottom: 15px;
    font-weight: 400; 
    font-size: 40px;
}